/*barra de navegación*/
.navbar-default{
  margin-bottom:0;
}
/*primera sección*/
.section-one{
  background-image: url('../assets/images/taxi.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height:100%;
}
/*parte del registro*/
.registry{
  background-color: #f7b617;
  width: 350px;
  height: 290px;
  margin-left: 74%;
  padding-left: 2%;
  margin-top: 19%;
  padding-top: 0.5%;
}

.section-one{
  max-width: 100%;
  max-height: 100%;
}

 @media screen (min-width 992px){
   .section-one{
   max-width: 100%;
   max-height:100%;
  }
}

/*fin de primera sección*/

h3, h4, p, li, i{
  color:white;
  opacity: 0.9;
}

p{
  font-size: 16px;
}

.white-logo{
  width: 70px;;
  height: 15px;
}
/*segunda sección*/
.section-two{
 background-color: #f7b617;
 width: 100%;
 height: 65%;
}

.img-mobile{
  width: 300px;
  height: 300px;
  margin-top: 3%;
  margin-left: 3%;
}

.i-app{

  width: 300px;
  height: 270px;
  margin-top: 2.5%;
  margin-left: 15%;
  padding-right:20px;
}

.i-mobile{
  border: 1px solid white;
  width: 900px;
  height: 375px;
  display: flex;
}
/*fin de segunda sección*/
/*tercera sección*/
.section-three{
  background-image:url('../assets/images/conduce.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height:60%;
}

@media screen (min-width 992px){
   .section-three {
     max-width: 100%;
     max-height:100%;
 }
}

.he-drives{
  background-color: black;
  opacity: 0.5;
  width:100%;
  height: 100%;
  margin-left: 74%;
  padding-top: 7%;
}
/*fin de tercera sección*/

.btn-warning{
  margin-top: 6%;
  margin-left: 5%;
}

.btn-default{
  margin-top: 7%;
}
/*cuarta sección*/
.section-four{
  width:100%;
  height: 58%;
  background-color: #f7b617;
}

.map{
  outline: 1px solid white;
  width:360px;
  height:335px;
  margin-left: 22%;
  margin-top:-4%;
}

.t-map{
  width: 360px;
  height:320px;
  padding-top: 3.5%;
  padding-left: 0;
}

.rates-map{
  display: flex;
  padding-top: 6%;
  padding-right:12%;
}

.rates{
margin-left: 8%;
}
/*fin de cuarta sección*/

/*inicio de footer*/
footer{
  background-color: #2b2b2b;
  width:100%;
  height: 65%;
}

.labFooter{
  margin-top: 3%;
}

.pie-pgn{
  width: 900px;
  height:250px;
  display: flex;
  margin-left: 4%;
}

.tmñ-ft{
  margin:0 55px 0 55px;
}

.list-1, .list-2, .list-3{
  margin-left: 15%;
}

li{
  margin-top: 5%;
}

.list-3{
  margin-top:8%;

}

.tmñ{
  width: 60%;
  height: 25%;
  margin-top:15%;

}

.list-4{
  display:inline-block;
}

.copyright{
  display: flex;
}
/*fin de footer*/

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
